.header-section {
  background-color: $primary;
}

.logo {
  color: $logo-color;
  font-family: "Amarante", serif;
  line-height: normal;
}

.auction {
  font-size: 48px;
  margin: 0;
}

.moto {
  font-size: medium;
  letter-spacing: 0.42em;
  margin: 0;
}
